# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# macOS specific files
.DS_Store
.AppleDouble

# Virtual Environment
venv/
ENV/

# Environment variables
.env

# Cache directory
cache/

# FAISS index files
*.faiss
*.pkl

# IDE specific files
.idea/
.vscode/
*.swp
*.swo